<h1>Mon Premier Formulaire</h1>

<form (submit)="inscription()" #formulaire="ngForm">

    <p><label>Nom: </label>
    <input type="text" name="nom" [(ngModel)]="nouvelUtilisateur.nom" required maxlength="15" #nom="ngModel" />
    <span [hidden]="nom.valid">
      Le nom ne doit pas faire plus de 15 caractères.</span></p>

    <p><label>Prénom: </label>
    <input type="text" name="prenom" [(ngModel)]="nouvelUtilisateur.prenom" required/></p>

    <p><label>E-mail: </label>
    <input type="email" name="email" [(ngModel)]="nouvelUtilisateur.email" required/></p>

    <p>
      <label>Mot de passe: </label>
      <input type="password" name="passeword" [(ngModel)]="nouvelUtilisateur.mdp" required minlength="3" #mdp="ngModel" />
      <span *ngIf="mdp.errors && mdp.touched">
        <span [hidden]="!mdp.errors.minlength">
          Le mot de passe doit faire au moins 3 caractères
        </span>
        <span [hidden]="!mdp.errors.required">
          Le mot de passe est requis
        </span>
      </span>
    </p>

    <p><label>Retaper votre mot de passe: </label>
    <input type="password" name="passeword" [(ngModel)]="mdp2" required equal="nouvelUtilisateur.mdp"/></p>

    <p><button [disabled]="!formulaire.valid" type="submit">S'inscrire</button></p>
</form> 